@mixin bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin main-text {
  font-family: 'roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: $text;
}

@mixin title {
  margin-bottom: 70px;
  margin-top: 70px;
  font-family: 'sansus';
  font-weight: 600;
  font-style: normal;
  font-size: 63px;
}

@mixin subtitle {
  margin-bottom: 40px;
  font-family: 'sansus';
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
}

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin big-phone {
  @media screen and (max-width: $big-phone) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin small-phone {
  @media screen and (max-width: $small-phone) {
    @content;
  }
}

@mixin very-small-phone {
  @media screen and (max-width: $very-small-phone) {
    @content;
  }
}