.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontant {
  height: 100%;
  min-height: 650px;
}

.container {
  position: relative;
  width: 95%;
  max-width: 1740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .section {
    height: 100vh;
    background-color: #f0e6d2;
    min-height: 650px;
  
    &_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .section__title {
    display: flex;
    align-items: center;
    @include title;
    text-align: center;
    color: $titles;
    text-transform: uppercase;

    &:before, &:after {
      content: '';
      display: block;
      height: 14px;
      width: 40px;    
    }
  
    &:before {
      margin-right: 30px;
      background: url('../../icons/circles_left-title.svg');
    }
  
    &:after {
      margin-left: 30px;
      background: url('../../icons/circles_right-title.svg');
    }

    &-white {
      color: #fff;

      &:before {
        background: url('../../icons/circles_left-title-white.svg');
      }
    
      &:after {
        background: url('../../icons/circles_right-title-white.svg');
      }
    }
  }

  .section__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    @include subtitle;
    text-align: center;
    text-transform: uppercase;
    color: $titles;
  
    &:before, &:after {
      content: '';
      display: block;
      height: 10px;
      width: 21px;    
    }
  
    &:before {
      margin-right: 5px;
      background: url('../../icons/circles_left-subtitle.svg');
    }
  
    &:after {
      margin-left: 5px;
      background: url('../../icons/circles_right-subtitle.svg');
    }
    
    &-white {
      color: #fff;

      &:before {
        background: url('../../icons/circles_left-subtitle-white.svg');
      }
    
      &:after {
        background: url('../../icons/circles_right-subtitle-white.svg');
      }
    }
  }

  .btn {
    flex: 1 1 auto;
    padding: 14px 30px;
    text-align: center;
    font-family: 'roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: $yellow;
  
    &:hover {
      background-color: $accent;
    }
  }

  .submit-btn {
    outline: none;
    border: 1px solid transparent;
  }

  