.svg-about_header-dims {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: $accent;
	opacity: .17;
}

.svg-arrow_down-dims {
	width: 25px;
	height: 16px;
	fill: #fff;
}

.svg-bg-dims {
	width: 2000px;
	height: 354.69px;
}

.svg-blog_header-dims {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// width: 302.193px;
	// height: 208.012px;
	fill: $accent;
	opacity: .17;
}

.svg-check-dims {
	width: 18.164px;
	height: 13.922px;
}

.svg-envelope-dims {
	width: 22.012px;
	height: 17.295px;
}

.svg-envelope2-dims {
	width: 24px;
	height: 24px;
	fill: $yellow
}

.svg-envelope_n-dims {
	width: 45px;
	height: 45px;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
	fill: #fff;
	opacity: .7;
	&:hover {
		opacity: 1;
	}
}

.github {
	width: 26px;
	height: 22px;
	fill: #fff;
	&:hover {
		fill: $accent;
	}
}

.svg-github_round-dims {
	width: 50px;
	height: 50px;
}

.svg-hamburger-dims {
	width: 40px;
	height: 35px;
	fill: #fff;
}

.svg-in-dims {
	width: 24px;
	height: 23px;
	fill: #fff;
	opacity: .7;
	&:hover {
		opacity: 1;
	}
}

.linkedin {
	width: 24px;
	height: 23px;
	fill: #fff;
	&:hover {
		fill: $accent;
	}
}

.svg-in_round-dims {
	width: 50px;
	height: 50px;
}

.svg-link-dims {
	width: 19px;
	height: 19px;
	fill: #fff;
	margin-right: 11px;
}

.svg-login-dims {
	width: 14px;
	height: 15px;
	fill: #c4cbcd;
}

.svg-map_marker-dims {
	width: 24px;
	height: 24px;
	fill: $yellow;
}

.svg-map_n-dims {
	width: 45px;
	height: 45px;
}

.svg-password-dims {
	width: 17px;
	height: 16px;
	fill: #c4cbcd;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-phone2-dims {
	width: 24px;
	height: 24px;
	fill: $yellow;
}

.svg-phone_n-dims {
	width: 45px;
	height: 45px;
}

.svg-portf_arrow_down-dims {
	width: 42px;
	height: 27px;
	fill: #fff;
}

.svg-portf_arrow_up-dims {
	width: 42px;
	height: 27px;
	fill: #fff;
}

.svg-portfolio_header-dims {
	// width: 1175px;
	// height: 314px;
	fill: $accent;
	opacity: .17;
}

.svg-skype-dims {
	width: 24px;
	height: 24px;
	fill: $yellow;
}

.svg-skype_n-dims {
	width: 600px;
	height: 600px;
}

.svg-telegram_logo-dims {
	width: 239px;
	height: 239px;
}

.svg-vk-dims {
	width: 30px;
	height: 17px;
	fill: #fff;
	opacity: .7;
	&:hover {
		opacity: 1;
	}
}

.vk {
	width: 30px;
	height: 17px;
	fill: #fff;
	&:hover {
		fill: $accent;
	}
}

.svg-vk_round-dims {
	width: 50px;
	height: 50px;
}

.svg-works_header-dims {
	// width: 505.101px;
	// height: 165.036px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: $accent;
	opacity: .17;
}

