.about {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.about__col {
  position: relative;
  padding-top: 25px;
  flex: 1;

  &_left {
    background-color: #f0efe9;

    @include laptop {
      padding-bottom: 30px;
    }
  }

  &_right {
    background-color: #eeebdf;
  }
}

.triangle {
  width: 100%;
  position: absolute;
  bottom: 99%;

  @include tablet {
    top: -65px;
  }

  @include big-phone {
    top: -50px;
  }

  @include phone {
    top: -40px;
  }
}

.about__content {
  position: relative;
  display: flex;
  // margin-top: 25px;
  justify-content: center;
  align-items: center;

  & p {
    @include main-text;
    margin-bottom: 17px;
  }

  &-right {
    flex-direction: column;
    width: 100%;
  }

  @include laptop {
    flex-direction: column;
  }

  @include tablet {
    width: 70%;
  }

  @include phone {
    width: 100%;
  }
}

.about__title {
  position: relative;
  flex: 1;
  align-self: flex-start;
  margin-top: 0;

  @include laptop {
    align-self: center;
  }

  @include tablet {
    margin-top: 70px;
  }
}

.user-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.user-desc__ava {
  width: 100%;
  overflow: hidden;
}

.user-desc__subtitle {
  margin-top: 40px;
  text-align: center;
}

.skills {
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills__item {
  margin-top: 40px;

  &:last-child {
    margin-bottom: 40px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills-desc {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;

  @include phone {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.skills-desc__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  // &:nth-child(2) {
  //   @include phone {
  //     margin-right: 0;
  //   }
  // }

  @include phone {
    margin-bottom: 20px;
    margin-right: 0;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

