.about {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.about__col {
  position: relative;
  padding-top: 20px;
  flex: 1;

  &_left {
    background-color: #f0efe9;
  }

  &_right {
    background-color: #eeebdf;
  }
}

.triangle {
  width: 100%;
  position: absolute;
  bottom: 99%;
}

.about__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    @include main-text;
    margin-bottom: 17px;
  }

  &-right {
    flex-direction: column;
  }
}

.about__title {
  position: relative;
  flex: 1;
  align-self: flex-start;
  margin-top: 0;
}

.user-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.user-desc__ava {
  height: 380px;
  overflow: hidden;
}

.user-desc__subtitle {
  margin-top: 40px;
  text-align: center;
}

.skills__item {
  margin-top: 40px;

  &:last-child {
    margin-bottom: 40px;
  }
}

.skills-desc {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.skills-desc__item {
  margin-right: 40px;
}

