.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 147px;
  background-color: $titles;
  opacity: .85;
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;

  & p {
    margin-bottom: 10px;
    @include main-text;
    font-weight: 300;
    color: #fff;
    text-align: left;

    &:last-child {
      opacity: .5;
    }
  }
}

.footer__container {
  align-items: flex-start;
}

.footer__buttons-item {
  margin-bottom: 48px;
  margin-right: 40px;

  &:after {
  display: none;
  }
}

.footer__buttons-link {
  @include main-text;
  color: #fff;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer__contacts-item {
  margin-bottom: 0;
}

.footer__contscts-text {
  @include main-text;
  font-weight: 300;
  color: #fff;
  opacity: .5;
}

.footer__contacts_list {
  margin-left: 0;
}

.line {
  width: 1px;
  height: 70%;
  background-color: #fff;
  opacity: .2;
}