.socials__absolute {
  position: absolute;
  top: 30px;
  left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-title {
  padding: 10%;
}

.hamburger-menu {
  position: absolute;
  top: 30px;
  right: 30px;
}