.hero {
  height: 100vh;
  position: relative;
  background-image: url('../../img/bg-welcome.jpg');
  @include bg-cover;
}

.welcome {
  display: flex;
  // display: none; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  min-width: 380px;
  background-color: rgba(215, 191, 155, .6);
  border-radius: 5px;

  @include phone {
    min-width: 100%;
  }
}

.login {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 380px;
  background-color: rgba(215, 191, 155, .6);
  border-radius: 5px;
}

.owner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome__owner {
  z-index: 2;
  margin-top: 40px;
}

.hero__owner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
}

.owner__desc {
  position: relative;
}

.owner__ava {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.owner__desc-name {
  margin-bottom: 10px;
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}

.owner__desc-occup {
  @include main-text;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.welcome__socials {
  margin-top: 35px;
  margin-bottom: 40px;
}

.socials__list {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.socials__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.buttons {
  width: 100%;
}

.buttons__list {
  display: flex;
}

.buttons__item {
display: flex;

  &:after {
  content: '';
  display: flex;
  width: 2px;
  height: 100%;
  background-color: #fff;
  opacity: .7;
  }

  &:last-child:after {
    width: 0;
  }

  & .section__btn {
    border-bottom-right-radius: 5px;
  }

  & .section__btn {
    border-bottom-left-radius: 5px;
  }
}

.welcome__buttons-item {
  flex: 1 1 auto;
}

.login__subtitle {
  margin-top: 35px;
}

.login__buttons-item {
  flex: 1;
}

.authorize-btn {
  width: 180px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;

  &:hover {
    background-color: #fff;
    color: $accent;
  }
}

.hero__autorize-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  align-self: flex-end;

  @include phone {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.rights {
  color: #fff;
  text-align: center;
  

  @include phone {
    & span {
      display: block;
      flex-basis: 100%;
    }
  }
}

.hero__rights {
  position: absolute;
  align-self: center;
  bottom: 35px;

  @include phone {
    bottom: 10px;
  }
}

.rights__creator:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 1px;
  height: 16px;
  vertical-align: middle;
  background-color: #fff;

  @include phone {
    display: none;
  }
}
