.my-works {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #faf8f0;
}

.my-works__title {
  align-self: center;
}

.my-works__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;

  &-description {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f0e9;
    order: -1;

    & p {
      @include main-text;
      text-transform: uppercase;
      color: $yellow;
      font-weight: 500;
    }

    @include tablet {
      order: 0;
      width: 100%;
      flex: 1.5;
    }

    @include very-small-phone {
      flex: 1;
    }
  }

  &-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe5db;
    height: 70%;
    width: 50%;

    @include tablet {
      width: 100%;
      flex: 2;
    }

    @include very-small-phone {
      flex: 1.3;
    }
  }

  &-slides {
    height: 30%;
    width: 50%;
    display: flex;

    @include tablet {
      width: 100%;
      flex: 1;
    }

    @include very-small-phone {
      flex: 0.7;
    }
  }

  @include tablet {
    flex-wrap: nowrap;
  }
}

.my-works__content-description-subtitle {
  margin-bottom: 20px;

  @include very-small-phone {
    margin-bottom: 10px;
  }
}

.my-works__content-slider-img {
  width: 80%;
  height: 80%;
}

.slide__img {
  width: 100%;
  height: 100%;
}



.slide {
  width: 50%;
  display: flex;
}

.my-works__content-text {
  &:before, &:after {
    content: '';
    display: block;
    height: 1px;
    width: 401px;
    background-color: $titles;
    opacity: .4;
    margin-top: 18px;
    margin-bottom: 18px;

    @include tablet {
      height: 2px;
      margin-top: 9px;
      margin-bottom: 9px;
    }

    @include very-small-phone {
      height: 2px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}

.my-works__content-btn {
  padding: 0 18px;
  margin-top: 28px;
  border-radius: 5px;

  @include tablet {
    margin-top: 14px;
  }

  @include very-small-phone {
    margin-top: 7px;
  }
}

.slide {
  position: relative;
}

.slider__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(#afaa9c, .85);
  transition: opacity .4s;

  &:hover {
    opacity: .5;
  }
}

.slide__arrow-up, .slide__arrow-down {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 2;

  &:hover + .slider__overlay {
    opacity: .5;
  }
}